html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

header {
  padding: 0 20px;
  border-bottom: 0.5px solid grey;
}

header h1 {
  text-align: center;
  letter-spacing: 2px;
}

main {
  flex-grow: 1;
}

main h2 {
  font-size: 16px;
}

main {
  overflow-y: scroll;
}

main #search {
  font-size: 20px;
  margin-top: 8px;
  width: 300px;
}

main #dropdown-filter {
  font-size: 20px;
  margin-top: 8px;
}

footer {
  padding: 0 50px;
  border-top: 0.5px solid grey;
}

footer form {
  display: flex;
}

footer input {
  flex-grow: 1;
  font-size: 20px;
  margin: 15px 0 35px 0;
}

footer button {
  margin: 15px 0 35px 0;
}
